body {
  margin: 0;
  background-image: url("image/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  font-weight: lighter;
}
.container {
  background-color: rgb(250, 239, 232);
  min-height: 100vh;
  max-width: 780px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area {
  margin-top: 10px;
  border: 1px solid rgb(246, 203, 161);
}

.task-tabs {
  display: flex;
  border-bottom: 1px solid rgb(246, 203, 161);
  position: relative;
}

.task-tabs div {
  padding: 1em;
}

#under-line {
  height: 4px;
  background-color: pink;
  position: absolute;
  width: 65px;
  left: 0px;
  top: 52px;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgray;
  position: relative;
}
.task span {
  padding: 1em;
  display: flex;
}
.line-through {
  text-decoration: line-through;
}

.button-box {
  display: flex;
}
.button-box button {
  height: 100%;
  border: none;
  width: 5em;
  margin: 0;
  background-color: white;
  transition: 0.5s;
}
.button-box button :active {
  position: relative;
  top: 2px;
}

.button-box button:first-child:hover {
  background-color: greenyellow;
}
.button-box button:nth-child(2):hover {
  background-color: rgb(255, 0, 0, 0.3);
}
.div-flex {
  display: flex;
}
.reply {
  border: 1px solid rgb(199, 199, 199);
  margin-top: 18px;
  margin-left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  z-index: 2;
}
.reply i {
  display: flex;
  justify-content: center;
  position: relative;
  top: -2px;
  z-index: 1;
}
.task-done {
  background-color: lightgrey;
  transition: 0.5s;
}

.task-tabs div {
  cursor: pointer;
  font-weight: lighter;
}

.task-list-container {
  border: 1px solid lightgray;
  margin-top: 1em;
  position: relative;
}
.trash {
  color: red;
}
.reply {
  color: green;
}
.input-style {
  border: none;
  border: 1px solid rgb(246, 203, 161);
  max-width: 500px;
  width: 100%;
  font-weight: lighter;
}
.button-style {
  border: 1px solid rgb(246, 203, 161);
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-left: 5px;
  display: flex;
  justify-content: center;
}
.plus {
  color: rgb(228, 102, 44);
}
.input-area {
  display: flex;
}
